<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.chroju.alfred.tfcloud</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1258F9C7-ECFD-4CBA-AC1F-E01D0EFFEAA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71ECAC0E-F5AC-4A39-9AE7-8635BBE65477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82CD192F-656B-44EC-8D91-28BE27EE97E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71ECAC0E-F5AC-4A39-9AE7-8635BBE65477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC31C818-396F-4C57-9EE5-65D03AF46F2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71ECAC0E-F5AC-4A39-9AE7-8635BBE65477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chroju</string>
	<key>description</key>
	<string>Terraform Cloud interfaces for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terraform Cloud</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tfcmd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching...</string>
				<key>script</key>
				<string>TF_CLI_CONFIG_FILE=${TF_CLI_CONFIG_FILE}

TFCLOUD_FORMAT=alfred ./tfcloud module list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Terraform Cloud modules</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>82CD192F-656B-44EC-8D91-28BE27EE97E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tfcruns</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching ...</string>
				<key>script</key>
				<string>TF_CLI_CONFIG_FILE=${TF_CLI_CONFIG_FILE}

TFCLOUD_FORMAT=alfred ./tfcloud run list ${organization}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Terraform Cloud runs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1258F9C7-ECFD-4CBA-AC1F-E01D0EFFEAA0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>71ECAC0E-F5AC-4A39-9AE7-8635BBE65477</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tfcws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching ...</string>
				<key>script</key>
				<string>TF_CLI_CONFIG_FILE=${TF_CLI_CONFIG_FILE}

TFCLOUD_FORMAT=alfred ./tfcloud workspace list ${organization}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Terraform Cloud workspaces</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DC31C818-396F-4C57-9EE5-65D03AF46F2A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>alfred-terraform-cloud-workflow
===============================

[Terraform Cloud](https://www.terraform.io/docs/cloud/index.html) Workflow for [Alfred 4](https://www.alfredapp.com/) .

Setup
--------

Download the latest `.alfredworkflow` file from here and import it to your Alfred.

https://github.com/chroju/alfred-terraform-cloud-workflow/releases

You need to set some workflow environment variables.

| Variable name | Required | Description | Default |
|---|---|---|---|
| organization | yes | Your Terraform Cloud organization name | N/A |
| TF_CLI_CONFIG_FILE | no | See https://www.terraform.io/docs/commands/cli-config.html#development-overrides-for-provider-developers | N/A |

### Credentials

This workflow uses an API token in `$HOME/.terraformrc` . If you want to use an other file, set the path in the variable `TF_CLI_CONFIG_FILE` .

### Usage

3 commands are available. Search workspaces, registry modules, and Terraform current runs which needs a confirmation. Pressing enter will open the page for the selected workspace or registry module and runs.

```
tfcws &lt;workspace&gt;
tfcmd &lt;registry module&gt;
tfcruns &lt;runs&gt;
```

[![Usage sample](https://i.gyazo.com/a6ddc5a3f1aee2d8a41f5fc43639138e.gif)](https://gyazo.com/a6ddc5a3f1aee2d8a41f5fc43639138e)</string>
	<key>uidata</key>
	<dict>
		<key>1258F9C7-ECFD-4CBA-AC1F-E01D0EFFEAA0</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>71ECAC0E-F5AC-4A39-9AE7-8635BBE65477</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>82CD192F-656B-44EC-8D91-28BE27EE97E9</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DC31C818-396F-4C57-9EE5-65D03AF46F2A</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>TF_CLI_CONFIG_FILE</key>
		<string></string>
		<key>organization</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>organization</string>
		<string>TF_CLI_CONFIG_FILE</string>
	</array>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/chroju/alfred-terraform-cloud-workflow</string>
</dict>
</plist>
